* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100%;
}

#container {
  width: 100%;
  height: 150%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px auto;
}
.top-wrapper,
.bottom-wrapper {
  display: flex;
  padding: 0 2vw;
}
.right-wrapper {
  width: 40%;
  display: flex;
  padding: 0 2vw;
  flex-direction: column;
}

.form {
  width: 80%;
}

.tags {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: start;
}

.tags p {
  color: #314259;
  margin: 8px;
  padding: 7px 10px;
  background-color: rgb(173, 206, 219);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

form {
  padding: 20px 0;
  max-width: 700px;
}
form .row {
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}
form input[type="text"],
form input[type="password"],
form textarea {
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 90px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}
form textarea {
  height: auto;
  min-height: 200px;
  padding: 50px 10px 10px 10px;
  resize: vertical;
}
form input[type="text"] + label,
form input[type="password"] + label,
form textarea + label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: bold;
  width: 80px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white;
  background: rgb(57, 136, 255);
  border-radius: 3px 0 0 3px;
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  transform: translateZ(0) translateX(0);
}
form textarea + label {
  width: 100%;
  border-radius: 3px 3px 0 0;
}
form input[type="text"]:focus,
form input[type="password"]:focus {
  padding-left: 10px;
}
form textarea:focus {
  padding-top: 10px;
}
form input[type="text"]:focus + label,
form input[type="password"]:focus + label {
  transform: translateZ(0) translateX(-100%);
}
form textarea:focus + label {
  transform: translateZ(0) translateY(-100%);
}
form button {
  position: relative;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white;
  border: none;
  background: rgb(57, 136, 255);
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  transform: translateZ(0) translateX(0);
  z-index: 2;
}
form button:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(57, 103, 255);
  height: 100%;
  width: 100%;
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  transform: translateZ(0) scale(0);
  z-index: -1;
  -webkit-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  -moz-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  -ms-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  -o-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}
form button:hover:before,
form button:focus:before {
  transform: scale(1);
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
form button:hover,
form button:focus {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* .keywords-wrapper,
#word-cloud {
  width: 40%;
} */

down {
  left: 50%;
  transform: translateY(0%) rotate(45deg);
  opacity: 0;
}
@keyframes scrolldown {
  0% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
  50% {
    transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
  }
  100% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
}




/*--------------------------------------------------------------
# More Services
--------------------------------------------------------------*/
.more-services {
  padding-top: 20px;
}

.more-services .card {
  border: 0;
  padding: 160px 20px 20px 20px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.more-services .card-body {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}

.more-services .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.more-services .card-title a {
  color: #222222;
}

.more-services .card-text {
  color: #5e5e5e;
}

.more-services .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.4s;
}

.more-services .read-more a:hover {
  text-decoration: underline;
}

.more-services .card:hover .card-body {
  background: #3498db;
}

.more-services .card:hover .read-more a, .more-services .card:hover .card-title, .more-services .card:hover .card-title a, .more-services .card:hover .card-text {
  color: #fff;
}
