<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Infographs</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <!-- Favicons -->
        <link href="{{  url_for('static', filename='img/infograph.jpg')}}" rel="icon">
        <link href="{{  url_for('static', filename='img/infograph.jpg')}}" rel="apple-touch-icon">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- Vendor CSS Files -->
        <link href="{{  url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{  url_for('static', filename='/vendor/bootstrap-icons/bootstrap-icons.css')}} " rel="stylesheet">
        <link href="{{  url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet">
        <link href="{{  url_for('static', filename='vendor/remixicon/remixicon.css')}}" rel="stylesheet">
        <link href="{{  url_for('static', filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
        <link href="{{  url_for('static', filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
        <!-- Template Main CSS File -->
        <link href="{{  url_for('static', filename='css/style.css')}}" rel="stylesheet">
        <link href="{{  url_for('static', filename='css/styles2.css')}}" rel="stylesheet">
    </head>
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top">
            <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
                <a href="\" class="logo d-flex align-items-center">
                    <img src="{{  url_for('static', filename='img/infograph.jpg')}}" alt="">
                    <span>Infographs</span>
                </a>
                <nav id="navbar" class="navbar">
                    <ul>
                        <li>
                            <a class="nav-link scrollto active" href="#hero">Home</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" href="#products">Products</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" href="#services">Services</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" href="#contact">Contact</a>
                        </li>
                        <!-- <li><a class="getstarted scrollto" href="#">Sign Up</a></li> -->
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
                <!-- .navbar -->
            </div>
        </header>
        <!-- End Header -->
        <!-- ======= Hero Section ======= -->
        <section id="hero" class="hero d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">We offer modern insights and solutions for growing your business</h1>
                        <h2 data-aos="fade-up" data-aos-delay="400">We are a team to help you analyze your company statistics.</h2>
                        <div data-aos="fade-up" data-aos-delay="600">
                            <div class="text-center text-lg-start">
                                <a href="#products" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                    <span>Get Started</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                        <img src="{{  url_for('static', filename='img/hero-img.png')}}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- End Hero -->
        <main id="main">
            <!-- ======= About Section ======= -->
            <!-- End Counts Section -->
            <section class="lil-flex lil-flex-wrap lil-py-8 sm:lil-flex-col-reverse" id="products" style="padding: 5% 10%;">
                <div class="lil-flex lil-flex-wrap lil-w-full xl:lil-w-2/3 lg:lil-w-2/3 sm:lil-mt-8">
                    <div class="lil-w-1/2" data-aos="fade-up" data-aos-delay="200">
                        <a href="https://demotype.herokuapp.com/">
                            <div class="lil-card">
                                <div class="lil-card-header">
                                    <img class="lil-card-icon lil-h-full" src="{{  url_for('static', filename='img/1605872682_desktop_fold_productsforeveryone_card_enterprise.png')}}" alt="entproductforeveryone">
                                </div>
                                <div class="lil-card-footer">
                                    <div class="lil-w-3/4">
                                        <h5>
                                            Customer
                                            <br>
                                            Analysis
                                        </h5>
                                    </div>
                                    <div class="lil-w-1/4 lil-self-end lil-pb-4">
                                        <img class="lil-float-right" src="{{  url_for('static', filename='img/1603291424_rightarrow_black.svg')}}" alt="blackrightarrow">
                                    </div>
                                </div>
                                <div class="lil-card-content lil-font-semibold hover:lil-bg-blue-350">
                                    <div class="lil-header">
                                        We help you understand what kind of offers will increase your sales and which type of offers will they will react positively to.
                                    </div>
                                    <div class="lil-footer lil-flex">
                                        <div class="lil-w-4/5"></div>
                                        <div class="lil-w-1/5 lil-self-end lil-pb-4">
                                            <img
                                                class="lil-float-right"
                                                src="{{  url_for('static', filename='img/1603291649_rightarrow_white.svg')}}"
                                                loading="lazy"
                                                alt="whiterightarrow"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="lil-w-1/2 lil-pl-2" data-aos="fade-up" data-aos-delay="250">
                        <a href="/Feedbacks">
                            <div class="lil-card">
                                <div class="lil-card-header">
                                    <img class="lil-card-icon lil-h-full" src="{{  url_for('static', filename='img/1605872216_desktop_fold_productsforeveryone_card_taxexperts.png')}}" alt="taxexpertproducforeveryone">
                                </div>
                                <div class="lil-card-footer">
                                    <div class="lil-w-3/4">
                                        <h5>
                                            Optimised
                                            <br class="sm:lil-hidden">
                                            Feedbacks
                                        </h5>
                                    </div>
                                    <div class="lil-w-1/4 lil-self-end lil-pb-4">
                                        <img class="lil-float-right" src="{{  url_for('static', filename='img/1603291424_rightarrow_black.svg')}}" alt="blackrightarrow">
                                    </div>
                                </div>
                                <div class="lil-card-content lil-font-semibold hover:lil-bg-orange-300">
                                    <div class="lil-header">
                                        From generating review tags to understanding customer sentiment through comments, we've got you covered.
                                    </div>
                                    <div class="lil-footer lil-flex">
                                        <div class="lil-w-4/5"></div>
                                        <div class="lil-w-1/5 lil-self-end lil-pb-4">
                                            <img
                                                class="lil-float-right"
                                                src="{{  url_for('static', filename='img/1603291649_rightarrow_white.svg')}}"
                                                loading="lazy"
                                                alt="whiterightarrow"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="lil-w-1/2 lil-mt-12" data-aos="fade-up" data-aos-delay="200">
                        <a href="/ledger">
                            <div class="lil-card">
                                <div class="lil-card-header">
                                    <img class="lil-card-icon lil-h-full" src="{{  url_for('static', filename='img/1605872581_desktop_fold_productsforeveryone_card_smes.png')}}" alt="smeproductforeveryone">
                                </div>
                                <div class="lil-card-footer">
                                    <div class="lil-w-3/4">
                                        <h5>
                                            GST
                                            <br>
                                            Calculator
                                        </h5>
                                    </div>
                                    <div class="lil-w-1/4 lil-self-end lil-pb-4">
                                        <img class="lil-float-right" src="{{  url_for('static', filename='img/1603291424_rightarrow_black.svg')}}" alt="blackrightarrow">
                                    </div>
                                </div>
                                <div class="lil-card-content lil-font-semibold hover:lil-bg-green-250">
                                    <div class="lil-header">
                                        Tired of all the paperwork? Just dump all your trades here and we will do the rest for you
                                    </div>
                                    <div class="lil-footer lil-flex">
                                        <div class="lil-w-4/5"></div>
                                        <div class="lil-w-1/5 lil-self-end lil-pb-4">
                                            <img
                                                class="lil-float-right"
                                                src="{{  url_for('static', filename='img/1603291649_rightarrow_white.svg')}}"
                                                loading="lazy"
                                                alt="whiterightarrow"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="lil-w-1/2 lil-mt-12 lil-pl-2" data-aos="fade-up" data-aos-delay="250">
                        <a href="https://colab.research.google.com/drive/1_WS-JjXmMKNUgbxVjLwmJRn0FL8mU60c?usp=sharing">
                            <div class="lil-card">
                                <div class="lil-card-header">
                                    <img class="lil-card-icon lil-h-full" src="{{  url_for('static', filename='img/1605863309_desktop_fold_productsforeveryone_card_individuals.png')}}" alt="productsforeveryone">
                                </div>
                                <div class="lil-card-footer">
                                    <div class="lil-w-3/4">
                                        <h5>
                                            Stock
                                            <br>
                                            Prediction
                                        </h5>
                                    </div>
                                    <div class="lil-w-1/4 lil-self-end lil-pb-4">
                                        <img class="lil-float-right" src="{{  url_for('static', filename='img/1603291424_rightarrow_black.svg')}}" alt="blackrightarrow">
                                    </div>
                                </div>
                                <div class="lil-card-content lil-font-semibold hover:lil-bg-purple-300">
                                    <div class="lil-header">
                                        Analyse each day stock variation and predict for tomorrow, invest in the right and right away
                                    </div>
                                    <div class="lil-footer lil-flex">
                                        <div class="lil-w-4/5"></div>
                                        <div class="lil-w-1/5 lil-self-end lil-pb-4">
                                            <img
                                                class="lil-float-right"
                                                src="{{  url_for('static', filename='img/1603291649_rightarrow_white.svg')}}"
                                                loading="lazy"
                                                alt="whiterightarrow"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="lil-flex lil-flex-col lil-pl-12 lil-justify-center lil-w-full lil-mt-16 xl:lil-items-center xl:lil-mt-0 xl:lil-w-1/3 lg:lil-w-1/3 sm:lil-mt-0 sm:lil-pl-0" data-aos="zoom-in" data-aos-delay="200">
                    <h2 class="lil-w-full">
                        Products
                        <br>
                        for
                        <br>
                        every use
                    </h2>
                    <p class="lil-mt-8 lil-w-full sm:lil-mt-4">
                        Built for scale, made by experts and secure by design.
           Bringing you maximum tax savings, unmatched speed and
            complete peace of mind.
                    </p>
                </div>
            </section>
            <!-- ======= Features Section ======= -->
            <section id="services" class="more-services">
                <div class="container">
                    <header class="section-header">
                        <h2>Services</h2>
                        <p>What we do?</p>
                    </header>
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div
                                class="card"
                                style='background-image: url("https://media.istockphoto.com/vectors/cafe-vector-id1175445101?k=6&m=1175445101&s=612x612&w=0&h=NBkKcagxb9yn4Wi3SGeCn9ImXoKkkxBIl4VVGZb_noo=");'
                                data-aos="fade-up"
                                data-aos-delay="100"
                            >
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="">Customer Analysis</a>
                                    </h5>
                                    <p class="card-text">Want help in visualising your customer data, We've got you covered.</p>
                                    <div class="read-more">
                                        <a href="#">
                                            <i class="icofont-arrow-right"></i>
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <div
                                class="card"
                                style='background-image: url("https://image.freepik.com/free-vector/illustration-stock-market-analysis_23-2148589176.jpg");'
                                data-aos="fade-up"
                                data-aos-delay="200"
                            >
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="">Stock Prediction</a>
                                    </h5>
                                    <p class="card-text">Analyse each day stock variation and predict for tomorrow, invest in the right and right away</p>
                                    <div class="read-more">
                                        <a href="#">
                                            <i class="icofont-arrow-right"></i>
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch mt-4">
                            <div
                                class="card"
                                style='background-image: url("https://media.istockphoto.com/vectors/customer-reviews-people-rate-online-comment-recommend-and-give-5-vector-id1184240728?k=6&m=1184240728&s=612x612&w=0&h=Su-EY3vPF7JKRlIkB_3mMl4tNJ_EnTZrrSa3dLkWJC0=");'
                                data-aos="fade-up"
                                data-aos-delay="100"
                            >
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="">Optimised Feedback</a>
                                    </h5>
                                    <p class="card-text">From generating review tags to understanding customer sentiment through comments, we've got you covered.</p>
                                    <div class="read-more">
                                        <a href="#">
                                            <i class="icofont-arrow-right"></i>
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch mt-4">
                            <div
                                class="card"
                                style='background-image: url("https://img.freepik.com/free-vector/vector-illustration-line-tax-payment_95561-82.jpg?size=626&ext=jpg&ga=GA1.2.615815144.1611100800");'
                                data-aos="fade-up"
                                data-aos-delay="200"
                            >
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="">GST Calculator</a>
                                    </h5>
                                    <p class="card-text">Tired of all the paperwork? Just dump all your trades here and we will do the rest for you</p>
                                    <div class="read-more">
                                        <a href="#">
                                            <i class="icofont-arrow-right"></i>
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="features" class="features">
                <div class="container" data-aos="fade-up">
                    <header class="section-header">
                        <h2>Benefits</h2>
                        <p>Why chose us?</p>
                    </header>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="{{  url_for('static', filename='img/features.png')}}" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                            <div class="row align-self-center gy-4">
                                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                                    <div class="feature-box d-flex align-items-center">
                                        <i class="bi bi-check"></i>
                                        <h3>Catalysing your growth</h3>
                                    </div>
                                </div>
                                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                                    <div class="feature-box d-flex align-items-center">
                                        <i class="bi bi-check"></i>
                                        <h3>Detailed analysis</h3>
                                    </div>
                                </div>
                                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                                    <div class="feature-box d-flex align-items-center">
                                        <i class="bi bi-check"></i>
                                        <h3>Easy to comprehend</h3>
                                    </div>
                                </div>
                                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                                    <div class="feature-box d-flex align-items-center">
                                        <i class="bi bi-check"></i>
                                        <h3>Improves employee satisfaction</h3>
                                    </div>
                                </div>
                                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                                    <div class="feature-box d-flex align-items-center">
                                        <i class="bi bi-check"></i>
                                        <h3>Simplified complex concepts</h3>
                                    </div>
                                </div>
                                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                                    <div class="feature-box d-flex align-items-center">
                                        <i class="bi bi-check"></i>
                                        <h3>Offers visual guide</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / row -->
                    <!-- Feature Tabs -->
                </div>
            </section>
        </div>
    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="/" class="logo d-flex align-items-center">
                            <img src="{{  url_for('static', filename='img/infograph.jpg')}}" alt="">
                            <span>Infographs</span>
                        </a>
                        <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p> -->
                    </div>
                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li>
                                <i class="bi bi-chevron-right"></i>
                                <a href="#hero">Home</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i>
                                <a href="#about">About us</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i>
                                <a href="#services">Services</a>
                            </li>
                            <!-- <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li>
                                <i class="bi bi-chevron-right"></i>
                                <a href="https://demotype.herokuapp.com/">Customer analysis</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i>
                                <a href="https://colab.research.google.com/drive/1_WS-JjXmMKNUgbxVjLwmJRn0FL8mU60c?usp=sharing">Stock Prediction</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i>
                                <a href="/Feedbacks">Optimizing feeds</a>
                            </li>
                            <!-- <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Contact Us</h4>
                        <p>
                            1601, Bhaveshwar
                            <br>
                            Mumbai-400001
                            <br>
                            India
                            <br>
                            <br>
                            <strong>Phone:</strong>
                            +91 8291149333
                            <br>
                            <strong>Email:</strong>
                            support@infographs.com
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>
    <!-- Vendor JS Files -->
    <script src="{{  url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script src="{{  url_for('static', filename='vendor/aos/aos.js')}}"></script>
    <script src="{{  url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>
    <script src="{{  url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
    <script src="{{  url_for('static', filename='vendor/purecounter/purecounter.js')}}"></script>
    <script src="{{  url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
    <script src="{{  url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
    <!-- Template Main JS File -->
    <script src="{{  url_for('static', filename='js/main.js')}}"></script>
</body>
</html>
